<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="MyTest">
            <directory>tests\Unit\MyTest</directory>
        </testsuite>
        <testsuite name="MyTest2">
            <file>tests/Unit/MyTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>